@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image: url("../Login/img/fundo.png");
    background-size: cover;
}

main{
    /* background-color: blue; */
    height: 708px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    background-image: linear-gradient(to right, #576BF2, #002663, #219AF1);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

header a{
    text-decoration: none;
    font-family: 'Comfortaa', cursive;
    color: white;
}

.container_principal{
    /* background-color: magenta; */
    width: 80%;
    height: 80%;
    margin-top: -80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.container_principal h1{
    font-family: 'Comfortaa', cursive;
    color: white;
    font-weight: 400;
    font-size: 30px;
}

.bloco_geral{
    /* background-color: mediumblue; */
    width: 80%;
    height: 80%;
    font-family: 'Comfortaa', cursive;
    display: flex;
    justify-content: space-between;
}

.infos{
    background-color: white;
    width: 350px;
    border-radius: 10px;
    border: black solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.inputs{
    /* background-color: tomato; */
    width: 70%;
    height: 70%;
    font-family: 'Comfortaa', cursive;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#inputs_i{
    width: 100%;
    border-radius: 10px;
    border: black solid 1px;
    padding: 5px;
    height: 35px;
    background-color: #C4C4C4;
}

#btn_cadastrar{
    font-family: 'Comfortaa', cursive;
    border-radius: 10px;
    border: black solid 1px;
    background-color: #576BF2;
    height: 40px;
    width: 50%;

}

hr{
    background-color: #576BF2;
    border: black solid 1px;
    width: 10px;
    height: 400px;
    margin-top: 25px;
}

.geral_lista{
    /* background-color: yellow; */
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item_lista{
    background-color: white;
    border-radius: 10px;
    border: black solid 1px;
    width: 90%;
    height: 115px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.esquerda{
    /* background-color: red; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.direita{
    /* background-color: blueviolet; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

footer{
    background-image: linear-gradient(to right, #576BF2, #002663, #219AF1);
    height: 300px;
    display: flex;
}

#logo_footer{
    width: 50px;
    height: 50px;
    background-color: pink;
}

.geral_footer{
    background-color: chocolate;
}

.bloco_sobre{
    background-color: chartreuse;
}

.bloco_suporte{

}

.bloco_social{
    
}