@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image: url("../Login/img/fundo.png");
    background-size: cover;
}

main{
    /* background-color: blue; */
    height: 708px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    background-image: linear-gradient(to right, #576BF2, #002663, #219AF1);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
}

.links_header{
    /* background-color: yellow; */
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    text-decoration: none;
    font-family: 'Comfortaa', cursive;
    color: white;
}

#logo_header{
    width: 40px;
}






footer{
    background-image: linear-gradient(to right, #576BF2, #002663, #219AF1);
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.geral_footer{
    /* background-color: chocolate; */
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo_footer{
    /* background-color: pink; */
    width: 150px;
    height: 150px;
}

.bloco_sobre{
    /* background-color: chartreuse; */
    color: white;
    font-family: 'Comfortaa', cursive;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#link_bloco_sobre{
    text-decoration: none;
    color: white;
}

.bloco_suporte{
    /* background-color: cyan; */
    color: white;
    font-family: 'Comfortaa', cursive;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#link_bloco_suporte{
    text-decoration: none;
    color: white;
}

.bloco_social{
    /* background-color: deeppink; */
    color: white;
    font-family: 'Comfortaa', cursive;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.logos_social{
    /* background-color: yellowgreen; */
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}