@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image: url("../Login/img/fundo.png");
    background-size: cover;
}

main{
    /* background-color: blue; */
    height: 708px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    background-image: linear-gradient(to right, #576BF2, #002663, #219AF1);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
}

.links_header{
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    text-decoration: none;
    font-family: 'Comfortaa', cursive;
    color: white;
}

#logo_header{
    width: 40px;
}

#logo_header_link{
    position: absolute;
}

.container_principal{
    /* background-color: magenta; */
    width: 80%;
    height: 80%;
    margin-top: -55px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.container_principal h1{
    font-family: 'Comfortaa', cursive;
    color: white;
    font-weight: 400;
    font-size: 30px;
}

.bloco_geral{
    /* background-color: mediumblue; */
    width: 80%;
    height: 80%;
    font-family: 'Comfortaa', cursive;
    display: flex;
    justify-content: center;
}

.infos{
    background-color: white;
    border-radius: 10px;
    border: black solid 1px;
    padding: 40px;
    width: 80%;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item_lista{
    background-color: #C4C4C4;
    border-radius: 10px;
    border: black solid 1px;
    width: 60%;
    height: 250px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    margin-bottom: 10px;
}

.dados_lista{
    display: flex;
    margin-bottom: 10px;
}

.esquerda{
    /* background-color: red; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 25px;
}

.direita{
    /* background-color: blueviolet; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 25px;
}

footer{
    background-image: linear-gradient(to right, #576BF2, #002663, #219AF1);
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.geral_footer{
    /* background-color: chocolate; */
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo_footer{
    /* background-color: pink; */
    width: 150px;
    height: 150px;
}

.bloco_sobre{
    /* background-color: chartreuse; */
    color: white;
    font-family: 'Comfortaa', cursive;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#link_bloco_sobre{
    text-decoration: none;
    color: white;
}

.bloco_suporte{
    /* background-color: cyan; */
    color: white;
    font-family: 'Comfortaa', cursive;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#link_bloco_suporte{
    text-decoration: none;
    color: white;
}

.bloco_social{
    /* background-color: deeppink; */
    color: white;
    font-family: 'Comfortaa', cursive;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.logos_social{
    /* background-color: yellowgreen; */
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}